/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.headerButton {
  border: none;
  outline: none;
  background: transparent;
  color: #a1aed4;
  border: 1px solid #a1aed4;
  border-radius: 20px;
}

.profileSelect {
  /* background-color: rgba(161, 174, 212, 0.2);
  color: white; */
  margin-top: 8px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background: #273261;
  padding: 0px 30px;
  color: #a1aed4;
}

.contestBtn {
  /* top: 100%; */
  left: 50%;
  transform: translateX(-50%);

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  width: 190px;
  display: inline-block;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#1c294e),
    to(#1c294e)
  );
  /* transition: all 0.5s; */
}
.contestBtn:hover {
  transition: all 1s;
  background: #dc3545;
}

.contestListSelected {
  background-image: -webkit-linear-gradient(
    26deg,
    yellow 9%,
    rgb(196, 196, 36) 39%,
    rgb(143, 143, 64) 100%
  ) !important;
  color: white !important;
}
