/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.headerButton {
  border: none;
  outline: none;
  background: transparent;
  color: #a1aed4;
  border: 1px solid #a1aed4;
  border-radius: 20px;
}

.profileSelect {
  /* background-color: rgba(161, 174, 212, 0.2);
  color: white; */
  margin-top: 8px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background: #273261;
  padding: 0px 30px;
  color: #a1aed4;
}

.contestBtn {
  /* top: 100%; */
  left: 50%;
  transform: translateX(-50%);

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  width: 190px;
  display: inline-block;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#1c294e),
    to(#1c294e)
  );
  /* transition: all 0.5s; */
}
.contestBtn:hover {
  transition: all 1s;
  background: #dc3545;
}

.contestListSelected {
  background-image: -webkit-linear-gradient(
    26deg,
    #382f21 5%,
    #8b642a 39%,
    #de9932
  ) !important;
  color: #fff !important;
}

.blockedtListSelected {
  background-image: -webkit-linear-gradient(
    26deg,
    #382f21 5%,
    #e74b1b 39%,
    #de3232
  ) !important;
  color: #fff !important;
}

.login-modal {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 11111 !important;
  width: 498px !important;
  max-height: calc(100vh) !important;
  overflow-y: auto !important;
}
.login-modal::-webkit-scrollbar {
  display: none;
}

.black-drawer {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 1111 !important;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
}

div.each-faq {
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: red; */
  cursor: pointer;
}
div.each-faq .heading {
  color: white;
  margin: 0;
}

/* .login-faq,
.contest-faq {
  cursor: pointer;
} */

/* div.each-faq svg {
  cursor: pointer;
} */

@media screen and (max-width: 576px) {
  .login-modal {
    width: 100% !important;
  }
}
